<section class="cards grid">
  <div class="card" *ngFor="let game of games">
    <div class="img">
      <img class="poster" src="../../../assets/cards/{{ game.poster }}.png" alt="">
      <img class="logo" src="../../../assets/cards/{{ game.logo }}.png" alt="">
    </div>
    <h4>{{ game.title }}</h4>
    <p>{{ game.type }}</p>
  </div>

  <div class="card last-card flex">
    <img class="blizzard-logo" src="../../../assets/logo-blizzard.png" alt="">
    <div class="flex see-more">
      <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.949951" y="0.137573" width="3.225" height="3.225" fill="white"/>
        <rect x="0.949951" y="6.58759" width="3.225" height="3.225" fill="white"/>
        <rect x="7.3999" y="0.137573" width="3.225" height="3.225" fill="white"/>
        <rect x="7.3999" y="6.58759" width="3.225" height="3.225" fill="white"/>
        </svg>
      <p><span>Ver todos jogos</span></p>
    </div>
  </div>
</section>
