footer {
  background: url("../../../assets/footer-background.png") no-repeat center
    center / cover;
}

.container {
  justify-content: space-between;
  height: 800px;
}

.text-section {
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 500px;
}

.text-section li {
  list-style-type: none;
  display: flex;
  gap: 15px;
  color: grey;
  margin-bottom: 20px;
  align-items: center;
}

.text-section img {
  width: 133px;
}

.text-section button {
  width: 230px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

button svg {
  width: 20px;
}

.download-section {
  gap: 15px;
  align-items: center;
}

.app-section {
  margin-right: -300px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.app-mini {
  position: absolute;
  left: 0;
  right: -230px;
  bottom: -100px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  h2 {
    width: 200px;
  }

  li {
    width: 300px;
  }

  .app-section {
    margin-left: -110px;
    margin-right: 0;
    transform: scale(0.8);
  }

  .app {
    height: 100%;
    width: 585px;
    object-fit: cover;
    object-position: 20% 10%;
  }

  .app-mini {
    height: 60%;
    width: 585px;
    object-fit: cover;
    object-position: -54% 10%;
    right: 0;
    bottom: 0;
  }

  footer {
    overflow: hidden;
  }
}

@media screen and (max-width: 440px) {
  .container {
    flex-direction: column;
    overflow: hidden;
  }


  .app-section {
    margin-top: -230px;
    transform: scale(0.5);
  }

  .app-mini {
    right: 0;
    left: 320px;
  }

  .app {
    height: 171%;
    width: 729px;
    object-fit: cover;
    margin-top: 71px;
    object-position: 20% 10%;
  }

  .app-mini {
    height: 87%;
    width: 623px;
    object-fit: cover;
    object-position: -5% 100%;
    right: 0;
    left: 104px;
    bottom: -410px;
  }
}
