:root {
  --blue-light: #00aeff;
}

header {
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 60px;
  z-index: 99;
}

.header::after {
  content: "";
  position: absolute;
  width: 100vw;
  z-index: 990;
  border-bottom: 1px solid rgba(128, 128, 128, 0.596);
}

.dropdown {
  position: relative;
  margin-right: 10px;
}

.dropdown::after {
  content: url("../../../assets/arrow.svg");
  position: absolute;
  margin-left: 7px;
  transform: rotate(270deg) scale(0.8) translateX(3px);

}

.dropdown.active::after {
  filter: invert(30%) sepia(100%) saturate(6001%) hue-rotate(540deg) brightness(602%) contrast(243%);
  transform: rotate(90deg) scale(0.8) translateX(3px);
}

button {
  width: 115px;
}

nav {
  align-items: center;
  margin-right: auto;
}

.nav-primary {
  list-style-type: none;
  gap: 30px;

  z-index: 33;
}

li {
  margin: 0;
  font-size: 16px;
}

.nav-primary > li {
  z-index: 33;

}

.nav-secondary {
  flex-direction: row;
}

.nav-secondary .btn-secondary {
  margin-right: 16px;
}

.btn-primary {
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.logo {
  position: relative;
}

.logo::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0;
  width: 43px;
  border-bottom: 2px solid var(--blue-light);
  color: red;
}

.menu-dropdown {
  display: none;
}

.menu-dropdown img {
  width: 40px;
  height: 40px;
}

.logo,
.menu-dropdown,
.nav-secondary {
  z-index: 99;
}

li {
  cursor: pointer;
}

@media screen and (max-width: 1020px) {
  .nav-primary,
  .nav-primary:after {
    transform: translateY(-1000px);
    opacity: 0;
    transition: opacity 200ms ease-in, transform 200ms ease-in;
    position: absolute;
  }

  .nav-primary.show {
    opacity: 1;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      25deg,
      rgba(2, 2, 3, 1) 20%,
      rgba(14, 17, 23, 1) 55%
    );
    z-index: 15;
    transform: translateY(0);
    padding: 150px 90px 30px;
    max-width: 1400px;
    margin: auto -50px;
  }

  .nav-primary.show .menu-dropdown {
    display: none;
  }

  .menu-dropdown,
  .menu-dropdown::after {
    display: inherit;
    transition: all 800ms ease-in;
  }

  .menu-dropdown.show img {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 650px) {
  .nav-secondary,
  .nav-secondary:after {
    transform: translateY(-1000px);
    transition: opacity 200ms ease-in, transform 200ms ease-in;
    position: absolute;
  }

  .nav-primary.show {
    padding-top: 230px;
  }

  .nav-secondary.show {
    z-index: 16;
    top: 130px;
    left: 0;
    right: 0;
    transform: translateY(0);
    padding: 10px 10px 20px 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.596);
    justify-content: center;
  }
}
