<div class="header">
<!-- <div class="header" [ngClass]="{'black': isHeaderBlack}"> -->
  <header class="container flex">

    <div class="logo">
      <img src="../../../assets/logo-blizzard.png" alt="Logo da Blizzard">
    </div>

    <nav class="flex">
      <ul class="nav-primary flex" [ngClass]="{'show': isDropdownVisible}">
        <li class="dropdown" (click)="toggleDropdownSubmenu('jogos')" [ngClass]="{'active': isArrowActive['jogos']}">Jogos</li>
        <li class="dropdown" (click)="toggleDropdownSubmenu('esportes')" [ngClass]="{'active': isArrowActive['esportes']}">Esportes</li>
        <li>Loja</li>
        <li>Notícias</li>
        <li>Suporte</li>
        <app-dropdown-jogos
        *ngIf="activeSubmenuId === 'jogos'"
          [isBigScreen]="isBigScreen"
          [ngClass]="{'bigscreen': isBigScreen, 'smallscreen': !isBigScreen}"
          [style.--padding-top.px]="dropdownTop"
        ></app-dropdown-jogos>
        <app-dropdown-esportes
        *ngIf="activeSubmenuId === 'esportes'"
          [isBigScreen]="isBigScreen"
          [ngClass]="{'bigscreen': isBigScreen, 'smallscreen': !isBigScreen}"
          [style.--padding-top.px]="dropdownTop"
        ></app-dropdown-esportes>
      </ul>
    </nav>

    <div class="nav-secondary flex" [ngClass]="{'show': isDropdownVisible}">
      <button class="btn-secondary">Criar conta</button>
      <button class="btn-primary flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="white" stroke-width="2"><path stroke-linejoin="round" d="M4 18a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2z"/><circle cx="12" cy="7" r="3"/></g></svg>
        Logar</button>
    </div>

    <div class="menu-dropdown" id="menuDropdown" (click)="toggleDropdownMenu()" [ngClass]="{'show': isDropdownVisible}" style="cursor: pointer;">
      <img [src]="menuIconSrc" alt="Menu Icon">
    </div>

  </header>
</div>
<!-- <app-dropdown-jogos></app-dropdown-jogos> -->
<!-- <app-dropdown-jogos *ngIf="isHeaderBlack && activeSubmenuId === 'jogos'"></app-dropdown-jogos> -->
<!-- <app-dropdown-esportes *ngIf="activeSubmenuId === 'esportes'"></app-dropdown-esportes> -->
