section {
  background: url("../../../assets/banner-hero/games/diablo-bg.png") no-repeat top center / cover;
  height: 650px;
}

@media screen and (max-width:669px) {
  section {
    height: auto;
  }
}
