:root {
  --blue-light: #00aeff;
}

main > section.header {
  gap: 40px;
  justify-content: space-between;
}

section.header > * {
  max-width: 20%;
}

h2 {
  width: 80px;
}

.subtitle {
  text-transform: uppercase;
  opacity: .5;
  font-size: 14px;
}

.icons {
  gap: 12px;
  opacity: .9;
  margin-top: auto;
}

.see-more {
  width: 120px;
  gap: 10px;
  justify-content: flex-end;
  align-items: flex-end;
}

.see-more svg {
  margin: 6px 0;
}

span {
  font-size: 12px;
  color: var(--blue-light);
}

.games {
  padding: 40px 0;
}

